# Data cleaning and manipulation

In this notebook we cleaned our data downloaded from the data source, merged them to generate a final dataset for downstream analysis.

Data Source:
1. Annual CO2 emission data: https://ourworldindata.org/grapher/annual-co2-emissions-per-country?tab=chart&country=~OWID_WRL 
2. World energy consumption data: https://www.kaggle.com/datasets/pralabhpoudel/world-energy-consumption
3. GDP & GDP growth data: https://www.kaggle.com/datasets/zgrcemta/world-gdpgdp-gdp-per-capita-and-annual-growths 
4. Geographical topojosn data for each country: https://github.com/deldersveld/topojson 
5. Standard country code data: https://www.iban.com/country-codes

## 1. Import modules

In [ ]:
import pandas as pd
import numpy as np
import os
import watermark

# import geopandas as gpd
# from google.colab import drive
# drive.mount('/content/drive')
import os
# os.chdir('/content/drive/Shareddrives/SIADS 593 Milestone I - Shamil   Yangkang   Choonghyun/Project_code/Yangkang_merge_four_Sep10')
os.getcwd()

'/Users/chenyangkang/Desktop/MADS/593/Manage_codes/final'

## 2. Read data

### 2.1 Read GDP data

In [ ]:
##### read data
GDP = pd.read_excel('data/gdp.xlsx').reset_index(drop=True).iloc[:,0:-1]
GDP = GDP.melt(id_vars=['Country Name','Code'],var_name='Year',value_name='GDP')
GDP['Year'] = GDP['Year'].astype('float').astype('int')
print(GDP.info()) ## print information
GDP ### take a look

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16226 entries, 0 to 16225
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country Name  16226 non-null  object
 1   Code          16226 non-null  object
 2   Year          16226 non-null  int64
 3   GDP           12840 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 507.2+ KB
None

                      Country Name Code  Year           GDP
0                            Aruba  ABW  1960           NaN
1      Africa Eastern and Southern  AFE  1960  1.931311e+10
2                      Afghanistan  AFG  1960  5.377778e+08
3       Africa Western and Central  AFW  1960  1.040428e+10
4                           Angola  AGO  1960           NaN
...                            ...  ...   ...           ...
16221                       Kosovo  XKX  2020  7.716925e+09
16222                  Yemen, Rep.  YEM  2020           NaN
16223                 South Africa  ZAF  2020  3.354421e+11
16224                       Zambia  ZMB  2020  1.811063e+10
16225                     Zimbabwe  ZWE  2020  1.805117e+10

[16226 rows x 4 columns]

In [ ]:
##### always random sample 10 records
GDP.sample(10)

                    Country Name Code  Year           GDP
6490                   Indonesia  IDN  1984  8.485370e+10
6539            Marshall Islands  MHL  1984  4.514400e+07
15040                 Luxembourg  LUX  2016  6.217465e+10
455             Papua New Guinea  PNG  1961  2.448320e+08
2537                   Lithuania  LTU  1969           NaN
12885                    Jamaica  JAM  2008  1.370940e+10
742                 Sierra Leone  SLE  1962  3.427216e+08
12461  Sint Maarten (Dutch part)  SXM  2006           NaN
5446                 Korea, Rep.  KOR  1980  6.539865e+10
9242   Post-demographic dividend  PST  1994  2.252318e+13

### 2.2 Read GDP growth data

In [ ]:
##### read data
GDP_growth = pd.read_excel('data/gdp_growth.xlsx').reset_index(drop=True).iloc[:,0:-1]
GDP_growth = GDP_growth.melt(id_vars=['Country Name','Code'],var_name='Year',value_name='GDP_growth')
GDP_growth['Year'] = GDP_growth['Year'].astype('float').astype('int')
print(GDP_growth.info()) ## print information
GDP_growth ### take a look

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16226 entries, 0 to 16225
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country Name  16226 non-null  object
 1   Code          16226 non-null  object
 2   Year          16226 non-null  int64
 3   GDP_growth    12153 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 507.2+ KB
None

                      Country Name Code  Year  GDP_growth
0                            Aruba  ABW  1960         NaN
1      Africa Eastern and Southern  AFE  1960         NaN
2                      Afghanistan  AFG  1960         NaN
3       Africa Western and Central  AFW  1960         NaN
4                           Angola  AGO  1960         NaN
...                            ...  ...   ...         ...
16221                       Kosovo  XKX  2020   -5.340275
16222                  Yemen, Rep.  YEM  2020         NaN
16223                 South Africa  ZAF  2020   -6.431975
16224                       Zambia  ZMB  2020   -2.785055
16225                     Zimbabwe  ZWE  2020   -6.248748

[16226 rows x 4 columns]

In [ ]:
##### always random sample 10 records
GDP_growth.sample(10)

                                        Country Name Code  Year  GDP_growth
11638                                          Qatar  QAT  2003    3.719959
8002                                         Bahrain  BHR  1990    4.437997
3361                                        Malaysia  MYS  1972    9.388445
8576   Europe & Central Asia (excluding high income)  ECA  1992  -10.566728
452                                             Peru  PER  1961    7.347096
7099                              Other small states  OSS  1986         NaN
5397                                          France  FRA  1980    1.578745
10170                     Early-demographic dividend  EAR  1998    2.327150
85                                            Guinea  GIN  1960         NaN
11588                                        Moldova  MDA  2003    6.600000

### 2.3 Read annual CO2 emission data

In [ ]:
##### read data
CO2 = pd.read_csv('data/annual-co2-emissions-per-country.csv')
print(CO2.info()) ## print information
CO2 ### take a look

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24670 entries, 0 to 24669
Data columns (total 4 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Entity                24670 non-null  object
 1   Code                  21299 non-null  object
 2   Year                  24670 non-null  int64
 3   Annual CO2 emissions  24670 non-null  int64
dtypes: int64(2), object(2)
memory usage: 771.1+ KB
None

            Entity Code  Year  Annual CO2 emissions
0      Afghanistan  AFG  1949                 14656
1      Afghanistan  AFG  1950                 84272
2      Afghanistan  AFG  1951                 91600
3      Afghanistan  AFG  1952                 91600
4      Afghanistan  AFG  1953                106256
...            ...  ...   ...                   ...
24665     Zimbabwe  ZWE  2016              10737567
24666     Zimbabwe  ZWE  2017               9581633
24667     Zimbabwe  ZWE  2018              11854367
24668     Zimbabwe  ZWE  2019              10949084
24669     Zimbabwe  ZWE  2020              10531342

[24670 rows x 4 columns]

In [ ]:
##### always random sample 10 records
CO2.sample(10)

                Entity      Code  Year  Annual CO2 emissions
7997              Fiji       FJI  1954                157552
12079         Kiribati       KIR  1991                 21984
24200            World  OWID_WRL  1811              39582192
5988           Ecuador       ECU  1919                 25648
16605  North Macedonia       MKD  1990              14184423
12194           Kuwait       KWT  2020              88935077
14722       Montenegro       MNE  2000               1520843
12225       Kyrgyzstan       KGZ  1881                 86656
12587           Latvia       LVA  2008               8197984
8192           Finland       FIN  1988              52058082

### 2.4 Read energy consumption data

In [ ]:
##### read data
Energy = pd.read_csv('data/World Energy Consumption.csv').rename(columns={'iso_code':'Code',
                'year':'Year'})
print(Energy.info()) ## print information
Energy ### take a look

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17432 entries, 0 to 17431
Columns: 122 entries, Code to wind_energy_per_capita
dtypes: float64(119), int64(1), object(2)
memory usage: 16.2+ MB
None

,Code,country,Year,coal_prod_change_pct,coal_prod_change_twh,gas_prod_change_pct,gas_prod_change_twh,oil_prod_change_pct,oil_prod_change_twh,energy_cons_change_pct,...,solar_elec_per_capita,solar_energy_per_capita,gdp,wind_share_elec,wind_cons_change_pct,wind_share_energy,wind_cons_change_twh,wind_consumption,wind_elec_per_capita,wind_energy_per_capita
0,AFG,Afghanistan,1900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AFG,Afghanistan,1901,NaN,0.000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AFG,Afghanistan,1902,NaN,0.000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AFG,Afghanistan,1903,NaN,0.000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AFG,Afghanistan,1904,NaN,0.000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17427,ZWE,Zimbabwe,2015,-25.013,-10.847,NaN,NaN,NaN,NaN,-0.789,...,0.579,NaN,2.503057e+10,0.0,NaN,NaN,NaN,NaN,0.0,NaN
17428,ZWE,Zimbabwe,2016,-37.694,-12.257,NaN,NaN,NaN,NaN,-14.633,...,0.641,NaN,2.515176e+10,0.0,NaN,NaN,NaN,NaN,0.0,NaN
17429,ZWE,Zimbabwe,2017,8.375,1.697,NaN,NaN,NaN,NaN,NaN,...,0.773,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,NaN
17430,ZWE,Zimbabwe,2018,22.555,4.952,NaN,NaN,NaN,NaN,NaN,...,0.970,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,NaN
17431,ZWE,Zimbabwe,2019,-35.015,-9.422,NaN,NaN,NaN,NaN,NaN,...,0.956,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,NaN

In [ ]:
##### always random sample 10 records
Energy.sample(10)

,Code,country,Year,coal_prod_change_pct,coal_prod_change_twh,gas_prod_change_pct,gas_prod_change_twh,oil_prod_change_pct,oil_prod_change_twh,energy_cons_change_pct,...,solar_elec_per_capita,solar_energy_per_capita,gdp,wind_share_elec,wind_cons_change_pct,wind_share_energy,wind_cons_change_twh,wind_consumption,wind_elec_per_capita,wind_energy_per_capita
602,AGO,Angola,1982,NaN,NaN,NaN,NaN,-10.450,-8.685,6.864,...,NaN,NaN,1.865650e+10,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1049,AUT,Austria,1910,-1.422,-3.015,NaN,0.000,0.000,0.000,NaN,...,NaN,NaN,2.357230e+10,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7058,HUN,Hungary,1927,5.263,1.241,NaN,0.000,NaN,0.000,NaN,...,NaN,NaN,1.369548e+10,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3442,CHN,China,1997,-0.656,-53.313,12.872,26.094,1.016,18.694,0.582,...,0.009,0.024,4.350000e+12,0.017,110.753,0.005,0.289,0.55,0.157,0.436
14638,SDN,Sudan,1989,NaN,NaN,NaN,NaN,NaN,NaN,-2.851,...,NaN,NaN,4.426898e+10,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3595,COM,Comoros,1988,NaN,0.000,NaN,NaN,NaN,NaN,0.152,...,NaN,NaN,8.207670e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3491,COL,Colombia,1925,NaN,0.000,NaN,0.000,125.000,0.930,NaN,...,NaN,NaN,1.227908e+10,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6095,DEU,Germany,1981,-14.060,NaN,2.440,4.510,0.000,NaN,-3.135,...,NaN,0.000,1.680000e+12,NaN,NaN,0.000,0.000,0.00,NaN,0.000
146,NaN,Africa,1926,7.341,6.699,NaN,0.000,-4.396,-0.093,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12599,PHL,Philippines,1916,-3.333,-0.005,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.220264e+10,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
print('GDP dataset has: {} unique countries/regions'.format(len(GDP.Code.unique())))
print('GDP_growth dataset has: {} unique countries/regions'.format(len(GDP_growth.Code.unique())))
print('CO2_emission dataset has: {} unique countries/regions'.format(len(CO2.Code.unique())))
print('Energy_consumption dataset has: {} unique countries/regions'.format(len(Energy.Code.unique())))

GDP dataset has: 266 unique countries/regions
GDP_growth dataset has: 266 unique countries/regions
CO2_emission dataset has: 224 unique countries/regions
Energy_consumption dataset has: 217 unique countries/regions

-----------------
Now we have loaded all our dataset needed for the analysis, except for the Geo-topojosn file used for geographical visualization, which will be merged when needed. 

Each dataframes have "Code" and "Year" columns which represent ISO3 code for each country and the year. While country names may varied among datasets because of political consideration, the ISO3 code follow a global standard and should be constant. Therefore, it will be convenient to merge these dataframes based on country ISO3 codes.

Let's do it!

------------------

## 3. Merge dataframes

In [ ]:
##### Merge all three
merged = pd.merge(
            pd.merge(
                    pd.merge(
                        GDP, GDP_growth, on=['Code','Year'], how='outer'
                    ), 
                CO2, on=['Code','Year'], how='outer'
            ),
    Energy, on=['Code','Year'], how='outer'
) 

## These are three nested merge function. 
## Basically we mered GDP and GDP growth first,
## then with CO2 emission,
## then finally energy consumption dataset

##### get only those required columns
merged = merged[['Code','Year','Annual CO2 emissions','GDP', 'GDP_growth',
  'per_capita_electricity',
  'population',
  'fossil_share_energy',
  'renewables_elec_per_capita',
  'renewables_share_elec',
  'renewables_share_energy']]

We keep Code, Year as universal identifiers.
Other features include:
1. Annual CO2 emissions from CO2 emission dataset.
2. GDP from GDP dataset.
3. GDP_growth from GDP growth dataset.
4. 'per_capita_electricity', 'population', 'fossil_share_energy', 'renewables_elec_per_capita', 'renewables_share_elec', 'renewables_share_energy' from Energy consumption dataset.

In [ ]:
### sanity check
merged.sample(10)

,Code,Year,Annual CO2 emissions,GDP,GDP_growth,per_capita_electricity,population,fossil_share_energy,renewables_elec_per_capita,renewables_share_elec,renewables_share_energy
47998,NaN,2019,4.711893e+08,NaN,NaN,NaN,NaN,NaN,NaN,68.234,NaN
40896,NaN,2002,7.996968e+08,NaN,NaN,NaN,NaN,NaN,NaN,4.169,NaN
12702,QAT,2007,6.290059e+07,7.971209e+10,17.985657,15019.704,1218000.0,100.0,0.0,0.000,0.0
46502,NaN,2015,6.612704e+09,NaN,NaN,NaN,NaN,NaN,NaN,60.068,NaN
53539,LVA,1949,4.044121e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59122,GAB,1927,NaN,NaN,NaN,NaN,391464.0,NaN,NaN,NaN,NaN
28317,NaN,1973,2.931200e+04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29330,NaN,1976,3.360352e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18733,NaN,1920,1.899938e+09,NaN,NaN,NaN,477206560.0,NaN,NaN,NaN,NaN
29478,NaN,1976,1.463333e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
print("Country count (including missing): ",len(merged.Code.unique()))
print("Country count (drop GDP missing): ",len(merged.dropna(subset=['GDP']).Code.unique()))
print("Country count (drop any missing): ",len(merged.dropna().Code.unique()))

Country count (including missing):  287
Country count (drop GDP missing):  261
Country count (drop any missing):  78

## 4. Clean country/entity names

Now we have a good dataset with country code and year as identifier. We did not include country name for the potential inconsistency among datasets. 

We believe that with a Calibration dataset to calibrate our **formal** country name and country code will be wise and convenient.

In [ ]:
####### load the standard country name dataset
country_data = pd.read_csv('data/Country_codes.csv', na_filter = False)[['Country','Alpha-2 code','Alpha-3 code']].rename(columns={
    'Alpha-2 code':'iso2',
    'Alpha-3 code':'iso3'
})
##### here we set na_filter=False because the iso2 code of Namibia is NA, which will be miss considered as missing value

country_data

                 Country iso2 iso3
0            Afghanistan   AF  AFG
1                Albania   AL  ALB
2                Algeria   DZ  DZA
3                 Angola   AO  AGO
4    Antigua and Barbuda   AG  ATG
..                   ...  ...  ...
181            Venezuela   VE  VEN
182              Vietnam   VN  VNM
183                Yemen   YE  YEM
184               Zambia   ZM  ZMB
185             Zimbabwe   ZW  ZWE

[186 rows x 3 columns]

In [ ]:
######## final merge. add ISO3 code and ISO2 code.
all = pd.merge(merged.rename(columns={'Code':'iso3'}), country_data, on='iso3',how='left') ### mergeing based on ISO3 code
all = all[['Country', 'iso2', 'iso3', 'Year', 'Annual CO2 emissions', 'GDP', 'GDP_growth','per_capita_electricity',
       'population', 'fossil_share_energy', 'renewables_elec_per_capita',
       'renewables_share_elec', 'renewables_share_energy']]

###### drop rows that shows NaN in these three columns. They are not our target.
all = all.dropna(subset = ['Country','iso3','iso2'])
all

,Country,iso2,iso3,Year,Annual CO2 emissions,GDP,GDP_growth,per_capita_electricity,population,fossil_share_energy,renewables_elec_per_capita,renewables_share_elec,renewables_share_energy
2,Afghanistan,AF,AFG,1960,413885.0,5.377778e+08,NaN,NaN,8997000.0,NaN,NaN,NaN,NaN
4,Angola,AO,AGO,1960,548951.0,NaN,NaN,NaN,5455000.0,NaN,NaN,NaN,NaN
5,Albania,AL,ALB,1960,2022528.0,NaN,NaN,NaN,1636000.0,NaN,NaN,NaN,NaN
8,United Arab Emirates,AE,ARE,1960,10992.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Argentina,AR,ARG,1960,48764500.0,NaN,NaN,NaN,20482000.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
60269,Zambia,ZM,ZMB,1948,NaN,NaN,NaN,NaN,2183597.0,NaN,NaN,NaN,NaN
60270,Zambia,ZM,ZMB,1949,NaN,NaN,NaN,NaN,2248192.0,NaN,NaN,NaN,NaN
60271,Zimbabwe,ZW,ZWE,1900,NaN,NaN,NaN,NaN,1911594.0,NaN,NaN,NaN,NaN
60272,Zimbabwe,ZW,ZWE,1901,NaN,NaN,NaN,NaN,1925066.0,NaN,NaN,NaN,NaN
60273,Zimbabwe,ZW,ZWE,1902,NaN,NaN,NaN,NaN,1938469.0,NaN,NaN,NaN,NaN

Here we drop records that shows NaN in Country, iso3, or iso3 columns. Proper calibrated countries should be represented in the calibration dataset. If it is not, that means those countries/regions is not a recognized **formal** country, then we could drop them.

In [ ]:
all = all[all.Year>=1989]

We keep only data since 1989 because according to our missing data visualization, data before that time was relatively thin and sparse, because many countries do not exist before the collapse of the Soviet Union.

In [ ]:
all.to_csv('data/All_merged.csv',index=False) ## output

In [ ]:
### record packages used
%load_ext watermark
%watermark --iversion

The watermark extension is already loaded. To reload it, use:
  %reload_ext watermark
sys       : 3.9.7 | packaged by conda-forge | (default, Sep 29 2021, 19:24:02)
[Clang 11.1.0 ]
watermark : 2.3.1
pandas    : 1.4.1
numpy     : 1.21.6
altair    : 4.2.0
matplotlib: 3.5.1